<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>To Do List App</title>
</head>
<body>
<div class="box" id="heading">
    <h1><%= day %></h1>
</div>
<div class="box">
    <% newListItems.forEach((item)=>{ %>
        <div class="item">
            <input type ="checkbox">
            <p><%= item %></p>
        </div>
            
    <% }) %>
    <div class="box">
        <form action="/submit" method="post" class="form">
            <input type="text" name="newItem" autocomplete="off" required/>
            <button type="submit" name="button">+</button>
        </form>
    </div>
</div>
</body>
</html>